* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url("fundo.PNG");
}

.cabeza i {
  color: white;
  margin-top: 50px;
  margin-left: 50px;
  cursor: pointer;
}

h6 {
  color: white;
  margin-left: 60px;
  cursor: pointer;
}

#title_h1 {
  color: rgb(230, 222, 222);
}

.titulo h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 1%;
  padding: 10px;
}

.enlace {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  flex-wrap: wrap;
  padding: 10px;
}
.enlace button {
  gap: 10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.pai {
  width: 100vw;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 0%;
  margin-right:30%;
  padding:10%;
  
 
}

.ARQimg {
  width: 100px;
}

p {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(250, 248, 248);
}

h2 {
  margin-left: 10px;
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
}

h3 {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
}

.arquiteto1 {
  width: 500px;
  height: auto;
  background-color:transparent;
  border: 2px solid white;
  margin-bottom: 20px;
 
}
.arquiteto1 i{
 color: rgb(5, 182, 252);
 margin-left: 5px;
 margin: 10px;
}
.arquiteto2 {
  width: 500px;
  height: auto;
  background-color:transparent;
  border: 2px solid white;
  margin-bottom: 20px;
}
.arquiteto2 i{
color: rgb(5, 182, 252);
margin-left: 5px;
margin: 10px;
  
}
.arquiteto3 {
  width: 500px;
  height: auto;
  background-color:transparent;
  border: 2px solid white;
  margin-bottom: 20px;
}
.arquiteto3 i{
    color: rgb(5, 182, 252);
    margin-left: 5px;
    margin: 10px;
}
.arquiteto4 {
  width: 500px;
  height: auto;
  background-color:transparent;
  border: 2px solid white;
  margin-bottom: 20px;
}
.arquiteto4 i{
    color: rgb(5, 182, 252);
    margin-left: 5px;
    margin: 10px;
 
}
.arquiteto5 {
  width: 500px;
  height: auto;
  background-color:transparent;
  border: 2px solid white;
  margin-bottom: 20px;
}
.arquiteto5 i{
    color: rgb(5, 182, 252);
    margin-left: 5px;
    margin: 10px;
}
.arquiteto6 {
  width: 500px;
  height: auto;
  background-color:transparent;
  border: 2px solid white;
  margin-bottom: 20px;
  
}
.arquiteto6 i{
    color: rgb(5, 182, 252);
    margin-left: 5px;
    margin: 10px;
}
.arquiteto7 {
  width: 500px;
  height: auto;
  background-color:transparent;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 20px;
}
.arquiteto7 i{
    color: rgb(5, 182, 252);
    margin-left: 5px;
    margin: 10px;
}

.curriculo {
  margin-left: 0px;
  padding: 0px;
  margin-left: 10px;
}

.infoPDF {
  display: flex;
  flex-direction: column;
  align-content: end;
  
}


.rodape{
    width: 100vw;
    height: 250px;
    background-color: rgba(17, 8, 72, 0.56);
    
}

footer{
    opacity: 0.5;
}

.pai{
    margin-top: 50%;
}

html{
    overflow-x: hidden;
}
